<div xclass="border border-light">
  <hr/>
  <div class="row">
    <div class="col-md-10">
      <h5 class="text-muted">{{viewName}}</h5>
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-secondary btn-sm"
              (click)="copyToClipBoard()">Copy To Clipboard</button>
    </div>
  </div>
  <hr/>
  <div class="row" *ngIf="!content">
    <div class="col">
      <pre id="jsonViewerContentLeft">{{contentLeft | json}}</pre>
    </div>
    <div class="col">
      <pre id="jsonViewerContentRight">{{contentRight | json}}</pre>
    </div>
  </div>
  <pre id="jsonViewerContent" *ngIf="content">{{content | json}}</pre>
  <br/>
</div>
