
<div class="wrapper d-flex align-items-stretch">

  <nav id="sidebar" [ngClass]="sideBarClass">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary"
              (click)="toggleClass()">
        <i class="fa fa-bars"></i><span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="p-4">
      <h1><a href="index.html" class="logo">{{appTitle}}</a></h1>
      <div *ngIf="appSession != null" class="text-center">
        <a routerLink="/profile">
          <img [src]="appSession.avatarUrl" class="rounded-circle" alt="avatar">
        </a>
        <h5 class="profile-title"><b>{{appSession.name}}</b></h5>
        <h5 class="profile-title"><b>{{appSession.roleId}}</b></h5>
      </div>
      <ul class="list-unstyled components mb-5" *ngIf="appSession">
        <li routerLinkActive="active">
          <a routerLink="/home">
            <span class="fa fa-home mr-3"></span> Home
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/user-list"><span class="fas fa-cogs mr-3"></span> Users</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/settings"><span class="fas fa-cogs mr-3"></span> Settings</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/sign-out"><span class="fas fa-sign-out-alt mr-3"></span> Sign Out</a>
        </li>
      </ul>
      <ul class="list-unstyled components mb-5" *ngIf="!appSession">
        <li routerLinkActive="active">
          <a routerLink="/index">
            <span class="fa fa-home mr-3"></span> Home
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/sign-in"><span class="fas fa-sign-in-alt mr-3"></span> Sign In</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="content" class="ml-md-5 mr-md-5">

    <header class="mt-auto py-2 bg-white">
      <div class="row">
        <div class="col-md-8">
          <h1 class="text-info">{{currentViewName}}</h1>
        </div>
        <div class="col-md-4 text-right" [hidden]="sideBarClass === ''">
          <h1 class="text-primary"><strong>{{appTitle}}</strong></h1>
        </div>
      </div>
      <hr class="bg-warning"/>
    </header>
    <main id="content-main">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </main>
    <footer class="mt-auto py-2 bg-white">
      <hr class="bg-warning"/>
      <div class="row">
        <div class="col-md-8">
          <p class="text-muted">
            &copy; 2020 - {{appTitle}} - {{appDescription}}
          </p>
        </div>
        <div class="col-md-4 text-right">
          <a routerLink="/workbench">Workbench</a>
        </div>
      </div>
    </footer>

  </div>

</div>


